{{#extends 'base'}}

{{#block 'title'}}
Truly Organic: Landing page
{{/block}}

{{#block 'content'}}
<h1>Welcome to Truly Organic</h1>
<h2>The portal for cheap organic food that is not an oxymoron</h2>
{{/block}}

{{/extends}}