{{#extends 'base'}}

{{#block 'content'}}
<h1>Create new product</h1>
<form method="POST">
    {{{form}}}
    <input type="submit" class="btn btn-primary" value="Create Product"/>
</form>

{{/block}}

{{/extends}}